body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.nav {
    height: 10vh;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.profile-icon {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 10px;
    right: 10px;
    font-size: xx-large;
    text-decoration: none;
    color: black;
}

a{
    font-size: xx-large;
    text-decoration: none;
    color: black;
}

.profile-icon a {
    border: black solid 2px;
    padding: 5px;
}