<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Forum</title>
</head>
<body>
    <header class="nav">
        <div class="profile">
            {{if .Authenticated}}
                <a href="/profile">{{.Username}}</a>
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/profile">Guest</a>
                <a href="/login">Login</a>
                <a href="/register">Sign Up</a>
            {{end}}
        </div>
    </header>
    <div class="post-container">
        <a href="/post">/post</a><br>
        <a href="/like">/like</a><br>
        <a href="/comment">/comment</a>
    </div>
</body>
</html>
