<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/form.css">
    <title>Forum</title>
</head>
<body>
    {{if .Error}}
        <div class="error-container">
            {{.Message}}
        </div>
    {{end}}
    <div class="form-container">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"  maxlength="50" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"  maxlength="50" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"  maxlength="50"  required>
            </div>
            <div>
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password"  maxlength="50" required>
            </div>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a>.</p>
    </div>
</body>
</html>